<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <script type="text/javascript">
      //atualiza para limpar o cache se a versão for menor que a atual
      var cabecalhos = new Headers({
        "Content-Type": "application/json"
      });

      var obj = {
        method: 'GET',
        headers: cabecalhos
      };

      //https://api.encontreprestadores.com.br/versoes
      //http://localhost:3000/versoes
      fetch('http://localhost:3000/versoes', obj)
      .then(res => res.json())
      .then(response => {
        if(response.dados.versao !== undefined && response.dados.versao !== null && response.dados.versao !== ''){
          let versao_cliente = window.localStorage.getItem('versao')

          if(versao_cliente !== response.dados.versao){
            window.localStorage.setItem('versao', response.dados.versao)
            window.location.reload(true)
          }
        }
      })
    </script>
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
